

{% extends 'base.html' %}
{% block body %} 

<link href="../static/css/display.css" rel="stylesheet">

<div class="container">



    {% if expense is not defined %}
   
    <!--when no DATA-Found-->
   <div class="card shadow-sm mb-2 bg-white rounded"></div> 
   <div class="card-body">
   <div style="text-align: center ; font-family: monospace; color:red ; "><h5><a  href="/add"> ADD-DATA </a> to Display</h3></div>
    <img  width=60% src="../static/images/not-found.png">
    </div>


    {% endif %}
   <div class="row">
       <div class="col-md-6 " style="margin:0 auto" >
           <h3 class="mt-5 label_expense">Total Expense Breakdown</h3>
           
           <!-- <div class="card shadow mb-2 bg-white rounded-bottom">
               <div class="card-body ">
               <div class="row">
                   <div class="col-md-6">Food</div>
                   <div id="tfood" >  {{ combine.0 }}  </div>
                </div>
               </div>
           </div>

        <div class="card shadow mb-2 bg-white rounded">
            <div class="card-body">
            <div class="row">
                <div class="col-md-6">Entertainment</div>
                <div id="tentertainment" > {{ combine.1 }} </div>
             </div>
            </div>
        </div>


        <div class="card shadow mb-2 bg-white rounded">
            <div class="card-body">
            <div class="row">
                <div class="col-md-6">Stocks</div>
                <div id="tstocks" > {{ combine.2 }}  </div>
             </div>
            </div>
        </div>


        <div class="card shadow mb-2 bg-white rounded">
            <div class="card-body">
            <div class="row">
                <div  class="col-md-6">Rent</div>
                <div id="trent"> {{ combine.3 }}   </div>
             </div>
            </div>
        </div>


        <div class="card shadow mb-2 bg-white rounded">
            <div class="card-body">
            <div class="row">
                <div class="col-md-6">EMI</div>
                <div id="temi"  class="col-md-6">{{ combine.4 }}   </div>
             </div>
            </div>
        </div>


        <div class="card shadow mb-2 bg-white rounded">
            <div class="card-body">
            <div class="row">
                <div class="col-md-6">Other</div>
                <div id="tother" >  {{ combine.5 }}</div>
             </div>
            </div>
        </div>

        <div class="card shadow mb-2 btn-outline-danger rounded-pill">
            <div class="card-body">
            <div class="row">
                <div class="col-md-6">Total</div>
                <div >{{combine.6}} </div>
             </div>
            </div>
        </div>
        <div class="card shadow mb-2 btn-outline-danger rounded-pill">
            <div class="card-body">
            <div class="row">
                <div class="col-md-6">Left</div>
                <div id="tleft" >{{combine.7}}</div>
             </div>
            </div>
        </div>
            -->

           <!-- NEW LOOK -->
            <div class="row" style="" >
                <div class="category-card col-sm-6 mb-3" style="max-width: 200px; "">
                    <div class="category-card-heading">Food</div>
                    <!-- <div class=""> -->
                        <div id="tfood"> {{ combine.0 }} </div>
                    <!-- </div> -->
                </div>
                <div class="category-card col-sm-6 mb-3" style="max-width: 200px; "">
                    <div class="category-card-heading">Entertainment</div>
                    <!-- <div class=""> -->
                        <div id="tentertainment"> {{ combine.1 }} </div>
                    <!-- </div> -->
                </div>

                <div class="category-card col-sm-6 mb-3" style="max-width: 200px; "">
                    <div class="category-card-heading">Stocks</div>
                    <!-- <div class=""> -->
                        <div id="tstocks"> {{ combine.2 }} </div>
                    <!-- </div> -->
                </div>
                <div class="category-card col-sm-6 mb-3" style="max-width: 200px; "">
                    <div class="category-card-heading">Rent</div>
                    <!-- <div class=""> -->
                        <div id="trent"> {{ combine.3 }} </div>
                    <!-- </div> -->
                </div>

                <div class="category-card col-sm-6 mb-3" style="max-width: 200px; "">
                    <div class="category-card-heading">Emi</div>
                    <!-- <div class=""> -->
                        <div id="temi"> {{ combine.4 }} </div>
                    <!-- </div> -->
                </div>
                <div class="category-card col-sm-6 mb-3" style="max-width: 200px; "">
                    <div class="category-card-heading">Other</div>
                    <!-- <div class=""> -->
                        <div id="tother"> {{ combine.5 }} </div>
                    <!-- </div> -->
                </div>

                <div class="category-card col-sm-6 mb-3" style="max-width: 200px; "">
                    <div class="category-card-heading">Total</div>
                    <!-- <div class=""> -->
                        <div id="ttotal"> {{ combine.6 }} </div>
                    <!-- </div> -->
                </div>
                <div class="category-card col-sm-6 mb-3" style="max-width: 200px; "">
                    <div class="category-card-heading">Amount Left</div>
                    <!-- <div class=""> -->
                        <div id="tleft"> {{ combine.7 }} </div>
                    <!-- </div> -->
                </div>
            </div>

       </div>
       <!-- pi chart -->
       <div class="col-md-6">
        <canvas id="myChart" width="400" height="400"></canvas>
        <script>
            let food = document.getElementById('tfood').innerHTML
            let entertainment = document.getElementById('tentertainment').innerHTML
            let stocks = document.getElementById('tstocks').innerHTML
            let rent = document.getElementById('trent').innerHTML
            let emi = document.getElementById('temi').innerHTML
            let other = document.getElementById('tother').innerHTML
            let left = document.getElementById('tleft').innerHTML
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ['Food', 'Entertainment', 'Stocks', 'Rent', 'EMI', 'Other', 'Left'],
                        datasets: [{
                            label: 'Expenses Chart',
                            data: [food, entertainment, stocks, rent, emi, other,left],
                            backgroundColor: [
                            '#fca5a5',
                            '#a3e635',
                            '#facc15',
                            '#9ca3af',
                            '#38bdf8',
                            '#2dd4bf',
                            'rgb(30, 30, 30)'
                            ],   
                        }]
                    },
                    options: {
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'bottom',
                            },
                            title: {
                                display: true,
                                text: 'EXPENSE BREAKDOWN'
                            }
                        }
                    }
                });
                </script>
       </div>
   </div>



</div>
{% endblock %}


 