{% extends 'base.html' %}


{% block body %}
<link rel="stylesheet" href="../static/css/homepage.css"> 
    <div style="height:20px"></div>
    <h3 style="text-align: center; font-size:50px">Expenditure Analysis</h3>
    <!-- <div style="height:100px;"></div> -->
    <div class="container-xl">
        <div class="row gx-4 gy-4" >
            <div class="col-6 chart"  >
                <canvas id="myChart1" width="300" height="300"></canvas>
            </div>
            <div class="col-6 chart"  >
                <canvas id="myChart2" width="300" height="300"></canvas>
            </div>
            <div class="col-6 chart"  >
                <canvas id="myChart3" width="300" height="300"></canvas>
            </div>
        </div>
    </div>  
    
    
    <script src="../static/js/homepage.js"></script>
{% endblock %}