{% extends 'base.html' %}

{% block body %}
<div class="container ">
                                                                                              
</div>
<section>

    <div class="row">
        <div class="col-md-6">
            <h3 class="mt-5">Expense Breakdown BY Category</h3>
            {% for x in obj %}
            <div class="card shadow mb-2 btn-outline-danger rounded-pill">
                <div class="card-body">
                <div class="row">
                    <div class="col-md-6"> {{x}}</div>
                    <div class="col-md-6"> Date: {{x.date}} </div>
                    <div class="col-md-6"> Category: {{x.category}} </div>
                    <div class="col-md-6"> Mode of Payment: {{x.pay_mode}} </div>
                </div>
                </div>
            </div>
            {% endfor %}
 
        </div>
    </div>
</section>
</div>






</div>

{% endblock %}