/* body{
    background-image: url("https://icehrm.com/blog/content/images/2023/01/pexels-tima-miroshnichenko-6693665.jpg");
    backdrop-filter: blur(5px);
} */

.container{
    margin-top: 100px;
}

.transaction-history{
    /* width: 500px; */
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.transaction-list-item{
    color: white;
    height: 60px;
    font-size: 18px;
    margin: 20px;
    border-radius: 30px;
    background-color: rgb(62, 41, 41);
    text-align: center;
    align-content: center ;
    font-family: 'Source Code Pro', monospace;
    font-weight: 10;
}

::marker {
    content: '';
    font-size: 1.2em;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {        
  box-shadow: inset 0 0 0 10px;
}



.transaction-history::-webkit-scrollbar {
    display: none;
}

body, nav{
    background-image: url("https://img.freepik.com/free-vector/white-background-with-wavy-lines_23-2149124447.jpg?w=1380&t=st=1682670075~exp=1682670675~hmac=04ca8e3135fc0f6449bd33b5605de8d9d01885e9eda6edd6698dfad6187e91b8");
    background-repeat: no-repeat;
    background-size: cover;
    /* backdrop-filter: blur(5px); */
}

form{
    font-size:20px;
    font-weight: bold;
}