#brand_name{
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 60px;
    /* color: white; */
}

body{
    font-family: 'Open Sans', sans-serif;  
    /* background-color: rgb(208, 210, 210); */
}

.navbar-container{
    font-weight: bolder;
    background-color: rgba(31, 30, 30, 0.24);
    /* backdrop-filter: blur(10px); */  
    border-bottom: 1px;
    border-color: #d1d5db;
    border: 1px solid #d1d5db;
}




.navbar{
    padding-top : 0px;
    padding-bottom: 0px;
    border: 0px;
    margin: 0px;
    
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
}

